<div class="background green lighten-5">
<nav class="large-nav">
  <div class="nav-wrapper row">
    <form>
      <div class="col s1">
        <p>Chario</p>
      </div>
      <div class="input-field col s11">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<div class="row large-card-container">
  <div class="col offset-s1 s10">
    <div class="card large-card">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <h1>{{ title }}</h1>


        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>


        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>

</div>
