.background {
    height: 100vh;
    background: linear-gradient(to bottom right, #03a9f4, #4caf50);
}

.large-nav {
    height: 72px;
    background-color: rgba(2, 119, 189, 0.2);
}

.large-card-container {
  position: absolute; top: 100px; bottom: 28px; left: 3vw; right: 3vw
}

.large-card {
    height: 80vh;
    background-color: rgba(60, 60, 60, 0.45);
}
