
<nav class="large-nav">
  <div class="nav-wrapper row">
    <div class="col s1">
      <p>Chario</p>
    </div>
  </div>
</nav>

<div class="row large-card-container">
  <div class="col offset-s1 s10">
    <div class="card large-card">
      <div class="card-content white-text">
        <span style="text-align: center" class="card-title">{{title}}</span>
        <img style="display: block; margin: 0 auto;" height="380px" src="assets/{{location}}.jpg">
        {{info}}
      <div class="card-action">
        <a (click)="donate()" href="javascript:void(0);" class="white-text">I want to donate a goat</a>
        <a (click)="donate()" href="#" class="white-text">I want to donate high speed internet</a>
        <a (click)="donate()" href="#" class="white-text">I want to donate money</a>
      </div>
    </div>
  </div>
</div>
